/* Menu */
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  .menu ul li {
    float: left;
  }
  .menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .menu ul li a:hover {
    background-color: #111;
  }
  .menu .sub-menu {
    float: right;
  }
  /* End Menu */

  /* Others */
  footer {
      margin-top: 20px;
  }